html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

html {
  font-family: 'futura-pt', 'Avenir Next', Helvetica, sans-serif;
  font-size: 16px;
  color: #111111;
}

header {
  height: 2rem;
  padding: 2rem;
  background: url('./images/header-background@2x.png') #FDF8F3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header h1 {
  margin: 0 0 0 1rem;
  padding: 0;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.333333em;
  float: left;
  text-transform: uppercase;
}

header .menu {
  display: block;
  float: left;
  height: 2rem;
  width: 2rem;
  background: url('./images/hamburger@2x.png');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  max-width: 62rem;
  margin: auto;
}

.main h1 {
  font-family: 'Beloved Script', serif;
  font-size: 1.875em;
  line-height: 1.333333em;
  text-align: center;
  margin: 2rem 0;
}

.person {
  text-align: center;
  margin-bottom: 3rem;
}

.person img {
  display: block;
  height: 10rem;
  width: 10rem;
  margin: auto;
  border-radius: 5rem;
}

.person h3 {
  font-family: 'Beloved Script', serif;
  font-size: 1.875em;
  line-height: 1.333333em;
  margin: 1rem 0 0 0;
}

.person.gal h3 {
  color: #E8007B;
}

.person.guy h3 {
  color: #009CCC;
}

.person p {
  font-size: 1.125em;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
}


@media (min-width:544px) {
  .main h1 {
    font-size: 2.5rem;
  }

  .people-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;
  }

  .person {
    margin: 0 1rem 3rem 1rem;
    width: 12rem;
  }
}
